html {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

main {
    margin: 20px 10%;

}

#imglogo {
    margin-left: -20px;
}


.navitem span {
    padding-bottom: 2px;
    margin-right: 20px;
}

.navitem span:hover {
    cursor: pointer;
    color: rgb(211, 32, 211);
    border-bottom: 2px solid rgb(211, 32, 211);
}

.navitem {
    margin-left: 20%;
}

#searchbar {
    border-radius: 0px 15px 15px 0px;
    padding: 8px;


    border: 1px solid black;
    justify-content: center;
    position: absolute;
    border-left: transparent;

}

#searchicon {
    border: 1px solid black;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
    border-right: transparent;
}

.page1 {
    display: inline-block;

}

#para2 {
    font-size: 44px;
    margin: 10px 0px;
}

#girlpicid {
    float: right;
    margin-right: 25%;
    height: 400px;

}

.page1content {
    margin-top: 100px;

}

.div1 {
    width: 28%;

}

.pinkpara {
    color: rgb(197, 14, 197);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page2content {
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.page3 {
    display: inline-block;
}

.page3content {
    width: 40%;
    float: right;
}

.innerpage3 {
    display: inline-block;

    height: max-content;


}

.innerpage3 img {
    float: left;
}

.innercontent {
    margin-right: 100px;
    float: right;
    height: max-content;
    width: 250px;

}

/* Page 4 content starts here */

.page4 {

    width: 100%;

}

.box {
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}

.page4 {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(187, 144, 226, 0.2);
}

.flexitem2 {
    margin-top: 20px;
}

.flexitem3 {
    margin-top: 50px;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
}

.box:hover {
    background-color: rgb(239, 14, 239);
    color: white;
}

.rdmorebutton:hover {
    background-color: rgb(239, 14, 239);
    color: white;
  border-color: rgb(239, 14, 239); ;
}

.rdmorebutton {
    padding: 5px 10px;
    border-radius: 25px;

}

.page5 {
    text-align: center;
    height: max-content;
    margin: 20px;
    width: 90%;
}

.imgpass {
    position: relative;
    width: 20%;
    margin: 20px;


}

.fontitems {
    position: absolute;
    height: fit-content;
    background-color: white;
    width: 100%;
    left: 10%;
    box-shadow: 1px 1px 1px 1px gray;
    bottom: -10%;
}

.alignphotos {
    display: flex;
    justify-content: center;
}

.fadelittle {
    opacity: 0.5;
}

.fadelittle:hover {
    opacity: 1;
    color: rgb(219, 8, 219);
}

#rdmorebutton1:hover {
    background-color: rgb(239, 14, 239);
    color: white;
    border-color: rgb(239, 14, 239);
}

#rdmorebutton1 {
    margin-top: 50px;

    padding: 5px 10px;
    border-radius: 25px;

}

#btn8yrs{
    height:100px;
    width: 100px;
    padding: 5px;
    color: white;
    background-color: rgb(154, 38, 238);
    border: 15px solid rgb(147, 115, 244);
    border-radius: 55px;
}

.page8{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page8 span{
    margin: 25px;
}

.dialoguediv{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
    width: 60%;
    color: white;
    margin-left: 20%;
    padding: 5px 10px;
    border-radius: 10px;
}
.dialoguedivbtn{
   border-radius: 25px;
   height: 30px;
   padding: 5px 20px;
   color: white;
   border:1px solid white; 
   background-color: blueviolet; 
  
}
.dialoguedivbtn:hover{
    cursor: pointer;
    background-color: blueviolet;
   
}
.lastdiv{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-top: 5%;
}
.lastdivblock{
    width: 20%;
}
/*                                                  Error in hovering
.hoverblock p :hover{              
    color: blue !important;
} */

.iconsocial{
    width: 20px ;
    height: 20px;
}

.lastdivblock p:hover{
   color: rgb(239, 14, 239);  

}

.samedesign{
    margin-top:-10px;border-bottom: 1px solid rgb(225, 10, 225); width: 25px;
}

.iconsocial:hover{
    filter: sepia(100%) hue-rotate(190deg) saturate(00%);
    cursor: pointer;
}